In [1]:
import numpy as np
import pandas as pd

In [127]:
works = pd.read_csv('hw_work.csv')
works.info()

#There are 3333 rows and 20 columns, memory usage: 520.9+ KB, Total day charge has some missing values

works.describe()
#Max = 243, min = 1, mean = 101.06, count = 3333
works.transpose()
works.head(5)
works.tail(5)
works['State']
works[['State', 'International plan']]
(works['International plan'] == 'Yes')
(works['International plan'] == 'Yes') & (works['Churn'] == True)
works.iloc[14]
works.iloc[14:]
works.set_index(works['State']).loc['LA']
works.drop(index = 3328, axis = 1)
works['total_min'] = works['Total intl minutes'] + works['Total night minutes']
works['total_min_avg'] = (works['Total intl minutes'] + works['Total night minutes']) / 2
newWorks = pd.concat([works.head(1) + works.tail(1)], ignore_index=True)
milon = {'name':'dor','age':18}
pdMilon = pd.DataFrame([milon])
oneRow = pd.concat([pdMilon],ignore_index= True)
#The meaning of inplace is to replace the existing csv with the changes you committed
#18 Yes
# axis 0 is indexes, 1 is columns
# & is and, | is or, ~ is not, Isin is in, between is if the value is between certain values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3323 non-null   float64
 7   Total day calls         3323 non-null   float64
 8   Total day charge        3315 non-null   float64
 9   Total eve minutes       3324 non-null   float64
 10  Total eve calls         3325 non-null   float64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3332 non-null   float64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3328 non-null   float64
 18  Customer service calls  3328 non-null   float64
 19  Churn                   3325 non-null   object
dtypes: float64(12), int64(4), object(4)
memory usage: 520.9+ KB